apiVersion: v1
kind: Service
metadata:
  name: infra-backend
  namespace: infra
spec:
  type: NodePort
  selector:
    app: infra-backend
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30081
