apiVersion: v1
kind: Service
metadata:
  name: infra-frontend
  namespace: infra
spec:
  type: NodePort
  selector:
    app: infra-frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080
